$primary-color: #30186d;
$secondary-color: #e8efd7;
$accent-color: #5a2dcd;
$unused-color: #f07474;
$text-color: #ffffff;
$text-blend: #060818;
$text-color-hover: #fa7268;
$text-black: black;
$bg-color: #030406;
$text-major: 1em;
$text-minor: 0.883em;
$text-cta: 1.312em;
$text-major2nd: 1.2em;
$text-big: 2.201em;
$text-superBig: 3.201em;
$font-primary: "Lato";
$font-secondary: "Arimo";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Archivo", sans-serif;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background-color: $bg-color;
}

// Hand Cursor
.hand {
  z-index: 9999;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: all ease-out 300ms;
  transition-property: background, transform;
  //   border: 2px solid white;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border: 1px solid white;
}
.hand-hover {
  background-color: none;
  transform: scale(3);
  backdrop-filter: invert(1);
  transform-origin: 100% 100%;
  // animation: pulse 1s infinite;
  // transform: translate(0, 0);
}

// Hand Cursor End

// navigation start
.navigations {
  z-index: 99;
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    padding: 1.8rem;
    align-items: center;
    z-index: 999;
    .logo {
      color: $bg-color;
      font-size: $text-big;
    }
    ul {
      position: relative;
      width: 40%;
      display: flex;
      justify-content: space-around;
      li {
        a {
          position: relative;
          font-size: $text-major;
          color: $text-color;
          text-decoration: none;
          display: flex;
          justify-content: center;
          padding: 1rem;
          font-size: 1rem;
        }
        a::after {
          content: "";
          position: absolute;
          text-align: center;
          bottom: 5px;
          width: 5px;
          height: 5px;
          border-radius: 50px;
          background-color: black;
          transition: 0.4s;
          transform: translate(0, 10px) scale(0);
          transition: ease-in-out 200ms;
        }
        a:hover::after {
          background-color: white;
          transform: translate(0, 0) scale(1);
        }
        a:hover {
          color: $text-color-hover;
          animation: bouncing 500ms linear;
        }
      }
    }
    .menu-toggle {
      display: none;
      position: fixed;
      flex-direction: column;
      height: 30px;
      justify-content: space-around;
      border: 2px solid $text-color-hover;
      border-radius: 40px;
      padding: 10px;
      animation: bouncing 500ms linear;
      transform: scale(1.1);
      input {
        position: absolute;
        opacity: 0;
        top: -5px;
        left: -4px;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      span {
        z-index: -1;
        display: block;
        width: 30px;
        height: 4px;
        background-color: $text-color-hover;
        transition: all ease-in-out 200ms;
      }
      input:checked ~ span {
        background-color: $bg-color;
      }
      input:checked ~ span:nth-child(2) {
        background-color: $bg-color;
        transform: rotate(45deg) translateX(4px) translateY(4px);
      }
      input:checked ~ span:nth-child(3) {
        background-color: $bg-color;
        transform: rotate(-45deg) translateX(8px) translateY(-6px);
      }
    }
    .menu-toggle::after {
      content: "";
      position: absolute;
      display: flex;
      align-items: center;
      top: 0px;
      left: 0px;
      z-index: -99;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: $primary-color;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
      transform: translateY(-25px) scale(0);
      transition: ease-in-out 200ms;
    }
    .menu-toggle:hover::after {
      transform: translateY(0) scale(1);
    }
    .menu-toggle:hover {
      border: 1px solid $bg-color;
      span {
        background-color: $bg-color;
      }
    }
    .active-bg {
      border: 2px solid $primary-color;
      background-color: $primary-color;
    }
  }
  .navigations-sticky {
    background-color: #050b0500;
    position: sticky;
    top: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    ul {
      position: fixed;
      right: 0;
      flex-direction: column;
      background: rgb(250, 114, 104);
      background: linear-gradient(90deg, rgba(250, 114, 104, 0.247) 52%, rgba(125, 120, 255, 0.212) 100%);
      backdrop-filter: blur(2px);
      top: 25%;
      width: 60%;
      height: 50vh;
      transform: translateX(100%);
      transition: all cubic-bezier(0.17, 0.87, 0.53, 0.87) 600ms;
      border-radius: 1800px 0 0 700px;
      li {
        a {
          font-size: $text-superBig;
        }
        a::after {
          top: calc(50% + 50px);
          width: 20px;
          height: 20px;
        }
        a:hover {
          border: none;
          animation: none;
          color: $bg-color;
        }
        a:hover::after {
          background-color: $bg-color;
        }
      }
    }
    .slide {
      position: fixed;
      top: 0;
      height: 100vh;
      border-radius: 0px;
      transform: translateX(0);
    }
    .logo {
      display: none;
    }
    .menu-toggle {
      z-index: 12;
      display: flex;
      position: fixed;
      right: 5%;
      top: 5%;
      background-color: rgba(0, 0, 0, 0.411);
      filter: invert(1);
    }
    .contact-cta {
      display: none;
    }
  }
  .contact-cta {
    border: 3px solid $text-color-hover;
    border-radius: 5px;
    a {
      display: flex;
      justify-content: center;
      position: relative;
      text-decoration: none;
      color: $text-color-hover;
      padding: 1rem;
    }
    a:hover {
      color: white;
      border-radius: 5px;
      text-shadow: 0px 3px 2px rgba(169, 169, 169, 0.6);
    }
    a::after {
      content: "";
      position: absolute;
      text-align: center;
      bottom: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50px;
      background-color: white;
      transition: 0.4s;
      transform: translate(0, 10px) scale(0);
      transition: ease-in-out 200ms;
    }
    a:hover::after {
      transform: translate(0, 0) scale(1);
    }
  }
}

// navigation end

// Hero/Parallax Section Start

.hero {
  main {
    position: relative;
    width: 100vw;
    height: 100vh;
    .parallax {
      pointer-events: none;
      transition: ease-out 850ms;
    }

    .bg-img {
      z-index: 1;
      position: absolute;
      width: 110%;
      top: 15%;
      left: calc(50% - 5%);
      filter: opacity(20);
    }
    .astro {
      z-index: 12;
      position: absolute;
      width: 50.67%;
      top: calc(50% + 50%);
      left: calc(50% - 1%);
      mix-blend-mode: color-dodge;
    }
    .moon {
      z-index: 3;
      position: absolute;
      width: 40%;
      top: calc(50% - 15%);
      left: calc(50%);
    }
    .earth {
      z-index: 4;
      position: absolute;
      width: 10.833%;
      top: calc(50%);
      left: calc(50% - 38%);
      filter: blur(2px);
    }
    .mask {
      z-index: 9;
      position: absolute;
      width: 100%;
      top: calc(50% - 25%);
      left: calc(50% - 50%);
    }
    .text {
      z-index: 99;
      pointer-events: auto;
      position: absolute;
      top: calc(50% - 15%);
      left: calc(50%);
      color: white;
      .hero-cta {
        width: 60%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem auto;
        gap: 2em;
        a {
          position: relative;
          text-align: center;
          border: 3px solid $text-color-hover;
          border-radius: 5px;
          padding: 1rem 0;
          text-decoration: none;
          display: flex;
          justify-content: center;
          color: $text-color-hover;
        }
        a:hover {
          color: white;
          border-radius: 5px;
          background-color: $text-color-hover;
          text-shadow: 0px 3px 2px rgba(169, 169, 169, 0.6);
        }
        a:hover::after {
          transform: translate(0, 0) scale(1);
        }
      }

      h4 {
        font-family: "Roboto";
        white-space: nowrap;
        font-size: 1.875rem;
        color: white;
        font-weight: 400;
        text-align: center;
        transition: all ease-in-out 300ms;
      }
      h1 {
        text-align: center;
        font-family: "Roboto Condensed";
        font-weight: 700;
        white-space: nowrap;
        font-size: 5rem;
        span {
          background: linear-gradient(0deg, rgba(250, 114, 104, 1) 52%, rgba(124, 120, 255, 1) 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

// Hero/Parallax Section End

.aboutMe {
  margin-top: 8rem;
  position: relative;
  .container-about {
    padding: 0rem 5rem;
    width: 80%;

    h1 {
      font-family: "Roboto Condensed";
      font-size: 8em;
      color: #30186d54;
      position: absolute;
      top: calc(50% - 100px);
      font-weight: 700;
      left: 26%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    h3 {
      padding-bottom: 10px;
      font-family: "Roboto Condensed";
      font-size: 3.5em;
      color: white;
      font-weight: 700;
      text-align: center;
    }
    p {
      font-family: "Roboto";
      line-height: 1.6em;
      width: 60%;
      color: #e8efd7;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }
}
.mySkill {
  margin: 8rem 0;
  position: relative;
  .container-skill {
    padding: 0rem 5rem;
    width: 80%;
    h1 {
      font-family: "Roboto Condensed";
      font-size: 8em;
      color: #30186d54;
      position: absolute;
      top: calc(50% - 100px);
      font-weight: 700;
      left: 23.2%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    h3 {
      padding-bottom: 10px;
      font-family: "Roboto Condensed";
      font-size: 3.5em;
      color: white;
      font-weight: 700;
      text-align: center;
    }
    p {
      font-family: "Roboto";
      line-height: 1.6em;
      width: 60%;
      color: #e8efd7;
      font-weight: 300;
      letter-spacing: 2px;
    }
    div {
      margin: 1em 0;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        padding: 0 10px;
        filter: grayscale(100%);
        transition: ease-in-out 200ms;
      }
      svg:hover {
        filter: none;
      }
    }
  }
}

.myProject {
  margin-top: 8rem;
  position: relative;
  .container-project {
    height: 50vh;
    position: relative;
    h1 {
      font-family: "Roboto Condensed";
      font-size: 8em;
      color: #30186d54;
      position: absolute;
      font-weight: 700;
      top: -4.8%;
      left: 30.2%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    h3 {
      top: 8%;
      position: absolute;
      padding-bottom: 10px;
      font-family: "Roboto Condensed";
      font-size: 3.5em;
      color: white;
      font-weight: 700;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// Keyframes and Media Queries
// Mobile
@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .navigations {
    nav {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      .logo {
        background-color: white;
      }
      ul {
        display: none;
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #050b0569;
        backdrop-filter: blur(2px);
        top: 25%;
        width: 100%;
        height: 50vh;
        transform: translateX(100%);
        transition: cubic-bezier(0.17, 0.87, 0.53, 0.87) 600ms;
        border-radius: 1800px 0 0 700px;
        li {
          a {
            font-size: $text-big;
          }
          a:hover {
            animation: none;
            color: $bg-color;
          }
          a:hover::after {
            background-color: $bg-color;
          }
          a::after {
            width: 5px;
            height: 5px;
          }
        }
      }
      .ul-active {
        transition: 1s ease-in-out;
        display: flex;
      }
      .slide {
        top: 0;
        height: 100vh;
        border-radius: 0px;
        transform: translateX(0);
      }
      .contact-cta {
        bottom: 15px;
        right: 15px;
        position: fixed;
      }

      .menu-toggle {
        position: relative;
        display: flex;
        input:checked ~ span:nth-child(2) {
          background-color: $text-color;
        }
        input:checked ~ span:nth-child(3) {
          background-color: $text-color;
        }
      }
      .active-bg {
        border: 2px solid $bg-color;
        background-color: $bg-color;
      }
      .active-contact {
        transition: all ease-in-out 300ms;
        animation: pulse 1s infinite;
        border: 1px solid white;
        background-color: #232752;
        a {
          color: white;
        }
      }
    }
    .navigations-sticky {
      ul {
        width: 100%;
      }
    }
  }

  .hero {
    .content {
      overflow: hidden;
      .bg-img {
        width: initial;
        height: 176%;
      }
      .astro {
        width: initial;
        height: 81.072%;
      }
      .moon {
        width: initial;
        height: 64%;
      }
      .earth {
        width: initial;
        height: 17.833%;
      }
      .mask {
        width: initial;
        height: 35%;
        top: 65%;
      }
      .text {
        .hero-cta {
          display: none;
        }
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
  .aboutMe {
    .container-about {
      padding: 0rem 1.5rem;
      p {
        width: 100%;
      }
    }
  }
  .mySkill {
    margin-top: 8rem;
    position: relative;
    .container-skill {
      padding: 0rem 1.5rem;
      p {
        width: 100%;
      }
    }
  }
}

//   Notebook
@media (max-width: 1028px) {
}

// Ukuran Tablet
@media (max-width: 768px) {
  .hand {
    display: none;
  }
}

// Keyframes
// Keyframes
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulseColor {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #8beeee;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes bouncing {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -8px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
